@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Poppins;
}

.navbar {
    height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4rem;
    position: fixed;
}

.Nav-logo {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.Nav-links {
    width: 35%;
    display: none;
    justify-content: space-between;
    position: relative;

}

.Nav-links a {
    text-decoration: none;
    color: aliceblue;
    position: relative;

}

.Nav-links a::after {
    content: "";
    position: absolute;
    background-color: whitesmoke;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    width: 102%;
    height: 2px;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.Nav-links a:hover::after {
    transform: scale(1);
}

.resposive-nav {
    transition: all 1s;
    position: absolute;
    width: 50%;
    background-color: black;
    height: 93.3vh;
    top: 6.5vh;
    right: 0;
    display: flex;
    /* align-self: baseline; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    transform: translateX(100%);
}

.resposive-nav a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

.resposive-nav a::after {
    content: "";
    position: absolute;
    background-color: whitesmoke;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    width: 102%;
    height: 2px;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.resposive-nav a:hover::after {
    transform: scale(1);
}

.show{
    transform: translateX(0%);
}



.burger{
    display: block;
    position: absolute;
    right: 30px;
    /* margin-right: -15%; */

}
.burger div{
    width: 20px;
    height: 2px;
    margin: 5px;
    border-radius: 20px;
    background-color: aliceblue;


}



.togle .line1{
    transform: rotate(-45deg) translate(-1px,0px);
    transition: all 0.3s ease;


}
.togle .line2{
    transform: rotate(45deg) translate(-5px,-4.5px);
    transition: all 0.3s ease;


    /* opacity: 0; */

}
.line1{
    transform: rotate(0deg) ;
    transition: all 0.3s ease;


}
.line2{
    transform: rotate(0deg) ;
    transition: all 0.3s ease;


    /* opacity: 0; */

}




.hero{
    /* margin-top: rem; */
    height: 100vh;
    width: 100%;
    display: flex;
}


.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 3.8rem;
}

.mainText h1{

    font-size: 45px;
}
.mainText h2{

    font-size: 10px;
    margin-top: -20px;
}

.mainImg{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.mainImg img{
    width: 100%;
}


@media screen and (min-width:850px) {
    .Nav-links {
        display: flex;
    }
    .burger{
        display: none;
    }

    .mainText{
        width: 50%;
        line-height: 5rem; 
    }
    .mainText h1{
        font-size: 65px;
    }
    .mainText h2{
        font-size: 18px;
    }
    .mainImg{
       display: block;
    }

    
}
